{% extends 'base.html' %}

{% block content %}
  <h1>Add a new movie for {{ studio.name }}!</h1>
  <form action="{{ url_for('movies_create', studio_id=studio.id) }}" method="POST">
    <div>
      <label for="title">Title:   
      </label>
      <input id="title" name="title" type="text" placeholder="Enter a title."/>
    </div>
    <div>
      <label for="release_year">Release year:
      </label>
      <input id="release_year" name="release_year" type="number" placeholder="When did it come out?"/>
    </div>
    <div>
      <label for="runtime">Runtime:    
      </label>
      <input id="runtime" name="runtime" type="number" placeholder="How long was it?"/>
    </div>
    <div>
      <label for="rating">Rating:   
      </label>
      <input id="rating" name="rating" type="text" placeholder="What was it rated?"/>
      <input type="submit" value="Add movie!">
    </div>
    <div>
      <h2>Please select all stars who are in this movie:</h2>
      {% for star in stars %}
      <div>
        <input type="checkbox" name="stars" id="star_{{ star.id }}" value="{{ star.id }}">
        <label for="star_{{ star.id }}">{{ star.first_name }} {{ star.last_name }}</label>
      </div>
      {% endfor %}
    </div>
  </form>
  <a href="{{ url_for('movies_index', studio_id=studio.id) }}">Go back</a>
{% endblock %}