{% extends 'base.html' %}

{% block content %}
  <h1>HERE IS INFO ON {{ movie.title }}!!</h1>
  <ul>
    <li>Title: {{ movie.title }}</li>
    <li>Release Year: {{ movie.release_year }}</li>
    <li>Runtime: {{ movie.runtime }} minutes</li>
    <li>Rating: {{ movie.rating }}</li>
  </ul>
  <h2>Here are the stars that were in this movie:</h2>
  <ul>
    {% for star in movie.stars %}
      <li>{{ star.first_name }} {{ star.last_name }} ({{ star.birth_date }})</li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('movies_index', studio_id=movie.studio.id) }}">Go back to list of movies</a>
  <a href="{{ url_for('movies_edit', movie_id=movie.id) }}">Edit the movie</a>
  <form action="{{ url_for('movies_destroy', movie_id=movie.id) }}?_method=DELETE" method="POST">
    <input type="submit" value="DELETE THIS MOVIE FOREVER">
  </form>
{% endblock %}