{% extends 'base.html' %}

{% block content %}
  <h1>Add a new movie!</h1>
  <form action="{{ url_for('studios_create') }}" method="POST">
    <div>
      <label for="name">Name:   
      </label>
      <input id="name" name="name" type="text" placeholder="Enter a studio name."/>
    </div>
    <div>
      <label for="start_date">Start date:
      </label>
      <input id="start_date" name="start_date" type="date" placeholder="When did it start?"/>
    </div>
    <input type="submit" value="Add studio!">
  </form>
  <a href="{{ url_for('studios_index') }}">Go back</a>
{% endblock %}